 .note {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
    width: 100%;
    height: 100%;
    gap: 2px;
    overflow: scroll;
}

.note-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    gap: 2px; 
}

.note-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey; 
    padding: 15px;
    text-align: start;
    font-size: 250%;
}

.note-content-container {
    min-height: 100%;
    max-width: 100%;
    padding: 20px 50px;
    background-color: gray;
    color: white;
}

.note-content {
    min-height: 75%;
    width: 100%;
    padding: 20px;
    font-size: 150%;
    text-align: start;
    background-color: gray;
    color: black; 
    border: none;
}

.note-content-editing {
    background-color: var(--primary-background-color);
    color: white;

}

.note-buttons {
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.note-edit-button {
    border: black solid 2px;
    background-color: transparent;
    color: white;
    font-size: 150%;
    cursor: pointer;
    width: 25px;
    height: 25px;
}