.notes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: auto;
  width: 100%;
  height: 100%;
  gap: 2px;
}

.list-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: var(--primary-background-color);
  width: 100%;
  padding: 5px;
}

.dialogue-window {
  opacity:    1; 
  display: flex;
  background: var(--select-color); 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

.add-button {
  border-radius: 50%;
  border: none;
  margin: auto;
  padding: 20px;
  width: fit-content;
  transition-duration: 0.25s;
}

.add-button:hover {
  cursor: pointer;
  border-radius: 10px;
}

.add-note-button {
  border-radius: 100%;
  margin: 5px;
}

.notes-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  background-color: var(--select-color);
  width: 20vw;
  height: 100%;
  padding: 5px;
  overflow: scroll;
  gap: 2px;
} 

.note {
  flex-grow: 6;
} 

.input:focus {
  outline: none; 
}


