:root {
    --primary-background-color: rgb(39, 39, 39);
}

.App {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: var(--primary-background-color);
    height: 100vh;
    overflow: hidden;
    padding: 4%;
}