:root {
    --primary-background-color: rgb(39, 39, 39);
    
}

body {
    font-family: Verdana;
}

.App {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: transparent;
    height: 100vh;
    overflow: hidden;
    padding: 6px; 
    gap: 2px;
}